.previewer {
  width: 100%;
  min-height: 100vh;
  padding: 20px 0.5rem 0;
}

.toolbar-title {
  background-color: hsl(180, 80%, 50%);
  padding: 5px;
  margin: 0;
  border-radius: 5px 5px 0 0;
}

.wrap {
  width: 70%;
  min-width: 18rem;
  margin: 0 auto 20px;
  min-height: 200px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0px #333;
  position: relative;
}

.pw-wrap {
  width: 100%;
}

.editor,
.preview {
  display: block;
  width: 100%;
  min-height: 200px;
  padding: 5px;
  resize: vertical;
  background-color: #fff;
  overflow-x: auto;
}

.wrap .clear-btn {
  position: absolute;
  right: 5%;
  top: 3%;
  border-radius: 3px;
  border: none;
  color: hsla(0, 20%, 20%, 0.7);
}

.wrap .clear-btn:hover,
.wrap .clear-btn:active {
  color: hsla(0, 0%, 0%, 1);
  border: 1px solid hsl(0, 0%, 50%);
}

hr {
  height: 3px;
  border-radius: 5px;
  background-color: hsla(0, 0%, 50%, 0.4);
  border: none;
}

blockquote {
  border-left: 3px solid hsl(210, 13%, 50%);
  color: #224b4b;
  padding-left: 5px;
  margin-left: 25px;
}

pre {
  background: hsl(210, 0%, 83%);
}

code {
  background: hsl(210, 0%, 83%);
  padding: 2px 4px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}

table {
  border-collapse: collapse;
}

table td,
table th {
  border: 1px solid hsl(210, 0%, 87%);
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: hsl(210, 0%, 93%);
}

table tr:hover {
  background-color: hsl(210, 0%, 85%);
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: hsl(210, 13%, 50%);
  color: hsl(0, 0%, 100%);
}
