.previewer {
  width: 100%;
  min-height: 100vh;
  padding: 20px 5%;
}

.toolbar-title {
  background-color: rgb(39, 91, 187);
  color: #eee;
  padding: 5px 10px;
  margin: 0;
}

.wrap {
  width: 70%;  
  margin: 0 auto 50px auto;
  min-height: 200px;  
  box-shadow: 0 0 5px #333;
  border-radius: 3px;
}

.pw-wrap {
  width: 100%;
  margin-bottom: 20px;
}

.editor, .preview {
  display: block;
  width: 100%;
  min-height: 200px;
  padding: 2% 5%;
  resize: vertical;
}
