@import url('https://fonts.googleapis.com/css?family=Roboto');
*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: hsl(0, 1%, 72%);
}

.app-title {
  text-align: center;
  padding: 15px;
  margin: 0;
}